beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.10.15
chardet==3.0.4
Click==7.0
get==1.0.3
idna==2.7
post==1.0.2
public==2.0.1
pypiwin32==223
pyttsx3==2.7
pywin32==224
query-string==1.0.2
request==1.0.2
requests==2.20.1
six==1.11.0
urllib3==1.26.5
websocket-client==0.54.0
